<div class="app">
  <app-header></app-header>

  <main class="page">
    <app-search-bar
      [form]="searchForm"
      [isSearching]="isSearching"
      (submitSearch)="onSearch()"
    ></app-search-bar>

    @if (!hasSearch) {
      <app-news-section
        title="Últimas Notícias"
        subtitle="Resultados ranqueados por relevância com base no score do modelo."
        layout="latest"
        [featured]="latestFeatured$ | async"
        [items]="(latestSide$ | async) ?? []"
        [trackBy]="trackById"
      ></app-news-section>

      <app-news-section
        title="Todas Notícias"
        subtitle="Lista completa para navegação e pesquisa."
        layout="grid"
        [items]="(allNews$ | async) ?? []"
        [trackBy]="trackById"
      ></app-news-section>

      <app-pagination
        [page]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    }

@if (hasSearch) {
  @if (((allNews$ | async) ?? []).length > 0) {
    <app-news-section
      title="Resultados da busca"
      subtitle="Notícias encontradas com base na relevância."
      layout="grid"
      [items]="(allNews$ | async) ?? []"
      [trackBy]="trackById"
    ></app-news-section>

    <app-pagination
      [page]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  } @else {
    <app-news-section
      title="Nenhum resultado encontrado"
      subtitle="Tente novamente com outra busca."
      layout="grid"
      [items]="[]"
      [trackBy]="trackById"
    ></app-news-section>
    <div class="back-btn-container">
      <button class="back-btn" (click)="resetSearch()">
      Voltar para todas as notícias
   </button>
    </div>
  }
}

  </main>
</div>
