:host {
  display: block;
}

.app {
  min-height: 100vh;
}

.page {
  padding: 32px 180px 64px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .page {
    padding: 28px 28px 56px;
  }
}

@media (max-width: 720px) {
  .page {
    padding: 24px 20px 48px;
  }
}
